* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eceedc95;

}

h1 {
    text-align: center;
    background-color: #e3e4d7;
    padding: 10px;
    margin-bottom: 20px;
}

.btn {
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    background-color: #959781;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.cardItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cardBox {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
}

.cardBox img {
    max-width: 100%;
    height: auto;
}

.cardBox h2,
.cardBox h3 {
    margin: 10px 0;
}

.cardBox button {
    background-color: #959781;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.cardBox button:hover {
    background-color: #0056b3;
}
